
{% extends "cloud/base.html" %}
{% block content %}

  <h2>Uploaded Files</h2>

  <h1>Your Files</h1>

<ul>
    {% for file in files %}

      <li>
        {{ file.file }} - 
        {% if file.folder %}
            {{ file.folder.name }}
        {% else %}
            No Folder
        {% endif %}
        <a href="{% url 'cloud:move_file' file.id %}">Move</a>
        <a href="{% url 'cloud:delete_file' file.id %}">Delete</a>
      </li>
        
    {% endfor %}
</ul>

<a href="{% url 'cloud:upload_file' %}">Add new files</a>



<h2>Folders</h2>
<ul>
    {% for folder in folders %}
        <li><a href="{% url 'cloud:folder_files' folder.id %}"></a>{{ folder.name }}</a></li>
    {% endfor %}
</ul>
<a href="{% url 'cloud:create_folder' %}">Create Folder</a>
  
{% endblock %}
