<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Personal Assistant{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'custom_auth/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Kodchasan:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="base-body">
    <header>
        <nav class="top-nav">
            <a href="{% url 'features:main' %}" class="nav-button">← Back to Main</a>
            <span class="welcome-text">{% block header_title %}{% endblock %}</span>
        </nav>
    </header>

    <main class="auth-layout">
        <div class="content-wrapper">
            {% block content %} 
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2026 MY PERSONAL ASSISTANT</p>
            <div class="footer-tagline">Efficiency in every detail</div>
        </div>
    </footer>
    <script src="{% static 'custom_auth/js/motion.js' %}"></script>
</body>
</html>