{% extends "custom_auth/base.html" %}

{% block content %}
<div class="welcome-page-wrapper">
    <div class="glass-hero">
        <div class="reveal-box">
            <h1 class="welcome-text-small">Welcome</h1>
            
            <div class="brand-motion">
                <span class="letter-assist">ASSIST</span>
                <span class="letter-you">you</span>
            </div>
        </div>
        
        <div class="fade-in-buttons">
            <p class="tagline">Your personal space for productivity.</p>
            <div class="button-group-clean">
                <a href="{% url 'custom_auth:signup' %}" class="btn-clean">Start now</a>
                <a href="{% url 'custom_auth:login' %}" class="btn-link">Sign In</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}