
{% extends "custom_auth/base.html" %}


{% block content %}

 <!-- Форма для створення нового блоку нотаток -->
 <div class="container-contact">
    <h3>Create Notebook</h3>     
    <form method="post" action="{% url 'notes:notebook-create' %}">
        {% csrf_token %}
        {{ form.as_p }} <!-- Використовується форма для створення нового блоку нотаток -->
        <button type="submit">Create</button>
        <button class="but" type="reset" class="secondary">Reset</button>
    </form>
</div>

{% endblock %}
