
{% extends "custom_auth/base.html" %}


{% block content %}
    <h2 class="hello">Notebooks</h2>

    {%  for notebook in notebooks %}
            <div class="container-contact">
                <h3 class="note-title">{{ notebook.list_name }}</h3>
                <!-- Форма для додавання нотатки в поточний блок -->
                <form method="post" action="{% url 'notes:note-create' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="notebook_id" value="{{ notebook.id }}">
                    <button class="btn btn-action" type="submit">Add Note</button>
                </form>

                <!-- Відображення нотаток, що належать до цього блоку -->
                {% if notebook.notes.all %}
                    <div class="notebook-list">
                        <ul>
                            {% for note in notebook.notes.all %}
                                <li><a  href="{% url 'notes:note-detail' note.pk %}">{{ note.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p>No notes in this notebook yet.</p>
                {% endif %}
            </div>
    {% endfor %}
     <!-- Форма для створення нового блоку нотаток -->
    <div class="container-contact">
        <h3 class="notebook-name">create notebook</h3>     
        <a type="button" class="btn btn-action" href="{% url 'notes:notebook-create' %}">add notebook </a>
    </div>


{% endblock %}
