<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Contacts</title>
</head>
<body>
    <header>
       {% load static %}
        <link rel="stylesheet" href="{% static 'custom_auth/css/style.css' %}">
        <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
            <ul>
                <li><a href="{% url 'features:main' %}" role="button" class="nav-button" > Go back to the main page </a></li>
            </ul>
        </nav>
    </header>
    <main class="main">

            {% block content %}
            {% endblock %}

    </main>
    <footer>
        <p>&copy; 2024 My Contacts</p>
    </footer>

